/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  margin: 10px 0;
}

.categories a {
  text-decoration: none;
  color: #007BFF;
}

.categories a:hover {
  text-decoration: underline;
}

.registration .blink {
  color: red;
  font-weight: bold;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.countdown {
  margin-top: 30px;
}

#timer {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
#registrationform{
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}